<table style="width:620px;margin:0 auto;background: #f5f5f5;padding: 20px;font-family: Lato,sans-serif;"><tbody>
    <tr><td><h1 style="color: #1f272a !important;margin-bottom: 0px;letter-spacing: 1px;font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">Hello <%= verifier_name %>!</h1></td>
    </tr>
     <tr style="margin: 5px 0;display: inline-block;">
        <td style="font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;color: #1f272a !important;text-align:right;font-size: 17px;color:#999;font-weight:400;">Below is the Co2 report:-</td> </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Facilty id: <%= facility_id %>	</td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Category: <%= category %>	</td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Subcategory: <%= sub_category %>	</td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Fuel/Name: <%= name %></td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Heat Content: <%= heat_content %></td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Co2 Factor: <%= co2_factor %></td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Co2 Unit: <%= co2_unit %></td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Ch4 Factor: <%= ch4_factor %></td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Ch4 Unit: <%= ch4_unit %></td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">N2o Factor: <%= n2o_factor %></td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">N2o Unit: <%= n2o_unit %></td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Biogenic: <%= biogenic %></td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Biofuel?: <%= biofuel %></td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Quantity: <%= quantity %></td>
        </tr>
        <tr style="margin:5px 0;display:inline-block;width:100%;float:left">
            <td style="font-size:12px;color:#1f272a!important;margin-bottom:0px;letter-spacing:1px;font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-weight:normal">Co2 Equivalent: <%= equivalent %></td>
        </tr>
        
        <tr style="margin: -7px 0;  width:100%;display: inline-block;margin-top: 10px;">
            <td style="font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;color: #1f272a !important;text-align:right;font-size: 17px;color:#999;font-weight:400;">
            <a href="<%= accept_site_url %>" style="
                padding: 5px 10px 5px 10px;
                background-color: #037b03;
                color: white;
                margin-right: 12px;
            ">  Accept</a>
            <a href="<%= reject_site_url %>" style="
                padding: 5px 10px 5px 10px;
                background-color: #ec0000;
                color: white;
            ">Reject</a></td>
         </tr>
     
    <tr>
    <td style="font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;color: #1f272a !important;text-align:right;font-size: 17px;color:#999;font-weight:400;">Regards,<br>Carbon</td>
    </tr>
</tbody></table>